In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#define path
filepath_2018 = "Average_rents_Clean_2018.csv"
filepath_2019 = "Average_rents_Clean_2019.csv"
filepath_2020 = "Average_rents_Clean_2020.csv"
filepath_2021 = "Average_rents_Clean_2021.csv"
filepath_2022 = "Average_rents_Clean_2022.csv"

In [3]:
#read files
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)
df_2018 = pd.read_csv(filepath_2018)

In [4]:
df_2019

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,827.0,903.0,NaN,1114.0,2019
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,669.0,855.0,1056.0,986.0,953.0,2019
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,740.0,NaN,575.0,2019
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,768.0,791.0,876.0,936.0,848.0,2019
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,870.0,NaN,874.0,2019
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,925.0,1082.0,1422.0,NaN,1203.0,2019
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2019
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1108.0,1474.0,NaN,1230.0,2019

In [5]:
df_2020

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,833.0,856.0,NaN,1117.0,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,688.0,864.0,1058.0,1017.0,959.0,2020
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,751.0,NaN,583.0,2020
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,781.0,791.0,902.0,964.0,864.0,2020
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,961.0,NaN,957.0,2020
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,954.0,1111.0,1591.0,NaN,1302.0,2020
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2020
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2020
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1276.0,1492.0,NaN,1399.0,2020

In [6]:
df_2021

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,844.0,903.0,NaN,1105.0,2021
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,704.0,952.0,1131.0,1048.0,1035.0,2021
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,762.0,NaN,594.0,2021
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,793.0,804.0,906.0,979.0,876.0,2021
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,910.0,NaN,914.0,2021
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1025.0,1172.0,1627.0,NaN,1352.0,2021
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2021
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2021
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2021
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,1218.0,1251.0,1618.0,2311.0,1430.0,2021

In [7]:
df_2022

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,NaN,NaN,NaN,1342.0,2022
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,727.0,933.0,1111.0,1056.0,1009.0,2022
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,809.0,NaN,613.0,2022
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,842.0,792.0,955.0,1048.0,901.0,2022
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,NaN,1405.0,2022
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2022
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2022
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2022
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1447.0,1753.0,3093.0,1635.0,2022

In [8]:
#tried merging but will use concat
combined_df = pd.merge(df_2019,df_2020, on= ["Province", "Centre", "Zone", "Neighbourhood"], how = "left")

In [9]:
combined_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type _x,Bachelor _x,1 Bedroom_x,2 Bedroom_x,3 Bedroom +_x,Total _x,Year_x,Dwelling Type _y,Bachelor _y,1 Bedroom_y,2 Bedroom_y,3 Bedroom +_y,Total _y,Year_y
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,827.0,903.0,NaN,1114.0,2019,Row,NaN,833.0,856.0,NaN,1117.0,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,827.0,903.0,NaN,1114.0,2019,Apt & Other,688.0,864.0,1058.0,1017.0,959.0,2020
2,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,669.0,855.0,1056.0,986.0,953.0,2019,Row,NaN,833.0,856.0,NaN,1117.0,2020
3,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,669.0,855.0,1056.0,986.0,953.0,2019,Apt & Other,688.0,864.0,1058.0,1017.0,959.0,2020
4,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,740.0,NaN,575.0,2019,Row,NaN,NaN,751.0,NaN,583.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
3576,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3577,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,1276.0,1492.0,NaN,1399.0,2020
3578,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1108.0,1474.0,NaN,1230.0,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3579,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,1108.0,1474.0,NaN,1230.0,2019,Apt & Other,NaN,1276.0,1492.0,NaN,1399.0,2020

In [13]:
#combine the data
AR_combined_df = pd.concat([df_2018,df_2019,df_2020,df_2021,df_2022],axis = 0)
AR_combined_df =AR_combined_df.fillna(0)

In [14]:
AR_combined_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
1786,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022
1788,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [15]:
AR_combined_df.to_csv("Average Rents_Concat_.csv",index=False)