In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath_2019 = "Number_of_units_clean_2019.csv"
filepath_2020 = "Number_of_units_clean_2020.csv"
filepath_2021 = "Number_of_units_clean_2021.csv"
filepath_2022 = "Number_of_units_clean_2022.csv"
filepath_2018 = "Number_of_units_clean_2018.csv"

In [3]:
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)

In [4]:
df_2019

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,18.0,17.0,58.0,2019
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,195.0,661.0,1011.0,106.0,1973.0,2019
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,2019
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,148.0,424.0,858.0,125.0,1555.0,2019
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,3.0,72.0,6.0,81.0,2019
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,34.0,366.0,262.0,3.0,665.0,2019
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2019
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,130.0,102.0,1.0,238.0,2019

In [5]:
df_2020

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,18.0,17.0,58.0,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,197.0,669.0,1022.0,107.0,1995.0,2020
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,48.0,21.0,0.0,69.0,2020
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,148.0,427.0,858.0,125.0,1558.0,2020
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,4.0,79.0,6.0,89.0,2020
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,34.0,366.0,263.0,3.0,666.0,2020
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2020
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2020
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,9.0,157.0,126.0,1.0,293.0,2020

In [6]:
df_2021

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,18.0,17.0,58.0,2021
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,197.0,651.0,1013.0,107.0,1968.0,2021
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,48.0,21.0,0.0,69.0,2021
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,147.0,409.0,857.0,121.0,1534.0,2021
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,4.0,83.0,6.0,93.0,2021
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,34.0,366.0,263.0,3.0,666.0,2021
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2021
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2021
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2021
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,13.0,177.0,129.0,4.0,323.0,2021

In [7]:
df_2022

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,21.0,18.0,17.0,57.0,2022
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,230.0,708.0,1066.0,106.0,2110.0,2022
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,47.0,20.0,0.0,67.0,2022
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,210.0,474.0,862.0,123.0,1669.0,2022
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,4.0,83.0,6.0,93.0,2022
...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,33.0,370.0,283.0,3.0,689.0,2022
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,2022
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2022
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2022
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,13.0,248.0,163.0,21.0,445.0,2022

In [8]:
combined_df = pd.merge(df_2019,df_2020, on= ["Province", "Centre", "Zone", "Neighbourhood"], how = "left")

In [9]:
combined_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type _x,Bachelor _x,1 Bedroom_x,2 Bedroom_x,3 Bedroom +_x,Total _x,Year_x,Dwelling Type _y,Bachelor _y,1 Bedroom_y,2 Bedroom_y,3 Bedroom +_y,Total _y,Year_y
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,18.0,17.0,58.0,2019,Row,1.0,22.0,18.0,17.0,58.0,2020
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,1.0,22.0,18.0,17.0,58.0,2019,Apt & Other,197.0,669.0,1022.0,107.0,1995.0,2020
2,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,195.0,661.0,1011.0,106.0,1973.0,2019,Row,1.0,22.0,18.0,17.0,58.0,2020
3,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,195.0,661.0,1011.0,106.0,1973.0,2019,Apt & Other,197.0,669.0,1022.0,107.0,1995.0,2020
4,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,46.0,21.0,0.0,67.0,2019,Row,0.0,48.0,21.0,0.0,69.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,NaN,NaN,NaN,NaN,NaN,2020
3576,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3577,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,2019,Apt & Other,9.0,157.0,126.0,1.0,293.0,2020
3578,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,130.0,102.0,1.0,238.0,2019,Row,NaN,NaN,NaN,NaN,NaN,2020
3579,B.C.,Victoria,Sidney,Sidney,Apt & Other,5.0,130.0,102.0,1.0,238.0,2019,Apt & Other,9.0,157.0,126.0,1.0,293.0,2020

In [12]:
NumberOfUnits_combined_df = pd.concat([df_2018,df_2019,df_2020,df_2021,df_2022],axis = 0)

In [13]:
NumberOfUnits_combined_df =NumberOfUnits_combined_df.fillna(0)

In [14]:
NumberOfUnits_combined_df.to_csv("Number_of_Units_combined_clean_.csv",index=False)