In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath_2018 = "Average_rents_Clean_2018.csv"
filepath_2019 = "Average_rents_Clean_2019.csv"
filepath_2020 = "Average_rents_Clean_2020.csv"
filepath_2021 = "Average_rents_Clean_2021.csv"
filepath_2022 = "Average_rents_Clean_2022.csv"

In [3]:
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)
df_2021 = pd.read_csv(filepath_2021)
df_2022 = pd.read_csv(filepath_2022)

In [4]:
df_2018_wy = df_2018.loc[:, df_2018.columns != "Year"]
df_2019_wy = df_2019.loc[:, df_2019.columns != "Year"]
df_2020_wy = df_2020.loc[:, df_2020.columns != "Year"]
df_2021_wy = df_2021.loc[:, df_2021.columns != "Year"]
df_2022_wy = df_2022.loc[:, df_2022.columns != "Year"]

In [5]:
df_18_19 = pd.merge(df_2018_wy,df_2019_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 18" ," 19"))

In [6]:
df_18_19

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,783.0,943.0,NaN,1166.0,NaN,827.0,903.0,NaN,1114.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,669.0,855.0,1056.0,986.0,953.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,743.0,NaN,576.0,NaN,NaN,740.0,NaN,575.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,768.0,791.0,876.0,936.0,848.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,870.0,NaN,874.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,895.0,1108.0,1630.0,NaN,1304.0,925.0,1082.0,1422.0,NaN,1203.0
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,903.0,1273.0,NaN,1027.0,NaN,1108.0,1474.0,NaN,1230.0

In [7]:
df_20 = pd.merge(df_18_19,df_2020_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [8]:
df_20

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,Bachelor 19,1 Bedroom 19,2 Bedroom 19,3 Bedroom + 19,Total 19,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,783.0,943.0,NaN,1166.0,NaN,827.0,903.0,NaN,1114.0,NaN,833.0,856.0,NaN,1117.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,669.0,855.0,1056.0,986.0,953.0,688.0,864.0,1058.0,1017.0,959.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,743.0,NaN,576.0,NaN,NaN,740.0,NaN,575.0,NaN,NaN,751.0,NaN,583.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,768.0,791.0,876.0,936.0,848.0,781.0,791.0,902.0,964.0,864.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,870.0,NaN,874.0,NaN,NaN,961.0,NaN,957.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,895.0,1108.0,1630.0,NaN,1304.0,925.0,1082.0,1422.0,NaN,1203.0,954.0,1111.0,1591.0,NaN,1302.0
1786,B.C.,Victoria,North Saanich,North Saanich,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,903.0,1273.0,NaN,1027.0,NaN,1108.0,1474.0,NaN,1230.0,NaN,1276.0,1492.0,NaN,1399.0

In [9]:
df_21 = pd.merge(df_20,df_2021_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "], suffixes = (" 20"," 21"))

In [10]:
df_21

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 20,1 Bedroom 20,2 Bedroom 20,3 Bedroom + 20,Total 20,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,783.0,943.0,NaN,1166.0,...,NaN,833.0,856.0,NaN,1117.0,NaN,844.0,903.0,NaN,1105.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,...,688.0,864.0,1058.0,1017.0,959.0,704.0,952.0,1131.0,1048.0,1035.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,743.0,NaN,576.0,...,NaN,NaN,751.0,NaN,583.0,NaN,NaN,762.0,NaN,594.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,...,781.0,791.0,902.0,964.0,864.0,793.0,804.0,906.0,979.0,876.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,961.0,NaN,957.0,NaN,NaN,910.0,NaN,914.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,903.0,1273.0,NaN,1027.0,...,NaN,1276.0,1492.0,NaN,1399.0,1218.0,1251.0,1618.0,2311.0,1430.0
1790,Que,MontrÃ©al,Saint-Lin-Laurentides V,Saint-Linâ€“Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,MontrÃ©al,Saint-Lin-Laurentides V,Saint-Linâ€“Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,505.0,839.0,963.0,837.0

In [11]:
df_22 = pd.merge(df_21,df_2022_wy, how = "outer", on =[ "Province","Centre","Zone","Neighbourhood","Dwelling Type "])

In [12]:
df_22

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor 18,1 Bedroom 18,2 Bedroom 18,3 Bedroom + 18,Total 18,...,Bachelor 21,1 Bedroom 21,2 Bedroom 21,3 Bedroom + 21,Total 21,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,NaN,783.0,943.0,NaN,1166.0,...,NaN,844.0,903.0,NaN,1105.0,NaN,NaN,NaN,NaN,1342.0
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,...,704.0,952.0,1131.0,1048.0,1035.0,727.0,933.0,1111.0,1056.0,1009.0
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,NaN,NaN,743.0,NaN,576.0,...,NaN,NaN,762.0,NaN,594.0,NaN,NaN,809.0,NaN,613.0
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,...,793.0,804.0,906.0,979.0,876.0,842.0,792.0,955.0,1048.0,901.0
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,910.0,NaN,914.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,B.C.,Victoria,Sidney,Sidney,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,B.C.,Victoria,Sidney,Sidney,Apt & Other,NaN,903.0,1273.0,NaN,1027.0,...,1218.0,1251.0,1618.0,2311.0,1430.0,NaN,1447.0,1753.0,3093.0,1635.0
1790,Que,MontrÃ©al,Saint-Lin-Laurentides V,Saint-Linâ€“Laurentides V,Row,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,Que,MontrÃ©al,Saint-Lin-Laurentides V,Saint-Linâ€“Laurentides V,Apt & Other,NaN,NaN,NaN,NaN,NaN,...,NaN,505.0,839.0,963.0,837.0,NaN,NaN,NaN,1170.0,NaN

In [13]:
df_22.columns

Index(['Province', 'Centre', 'Zone', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor  18', '1 Bedroom 18', '2 Bedroom 18', '3 Bedroom + 18',
       'Total  18', 'Bachelor  19', '1 Bedroom 19', '2 Bedroom 19',
       '3 Bedroom + 19', 'Total  19', 'Bachelor  20', '1 Bedroom 20',
       '2 Bedroom 20', '3 Bedroom + 20', 'Total  20', 'Bachelor  21',
       '1 Bedroom 21', '2 Bedroom 21', '3 Bedroom + 21', 'Total  21',
       'Bachelor ', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total '],
      dtype='object')

In [14]:
df_combined = df_22.rename(columns = {'Bachelor ':'Bachelor  22' , 
                                      '1 Bedroom': '1 Bedroom 22' , 
                                      '2 Bedroom': '2 Bedroom 22',
                                      '3 Bedroom +' : '3 Bedroom + 22' , 'Total ': 'Total  22'})

In [15]:
df_combined = df_combined.fillna(0)

In [16]:
df_combined.to_csv("Rents_merged_clean.csv",index=False)