In [52]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# define paths for the datasets to be used
path_rental = "Average Rents_Concat.csv"
path_units = "Number_of_Units_Concat.csv"
path_vacancy = "Vacancy Rate Concat.csv"

#read into files
rental_df = pd.read_csv(path_rental)
units_df = pd.read_csv(path_units)
vacancy_df = pd.read_csv(path_vacancy)
rental_df.columns
print(rental_df["Province"].unique())
rental_df.columns

['Nfld.Lab.' 'N.S.' 'N.B.' 'Que' 'Ont.' 'Man.' 'Sask.' 'Alta' 'B.C.']

Index(['Province', 'Centre', 'Zone', 'Neighbourhood', 'Dwelling Type ',
       'Bachelor ', '1 Bedroom', '2 Bedroom', '3 Bedroom +', 'Total ', 'Year'],
      dtype='object')

In [53]:
rental_df = rental_df[(rental_df["Total "]!=0)|(rental_df["Bachelor "]!=0)|\
                     (rental_df["1 Bedroom"]!=0)|(rental_df["2 Bedroom"]!=0)]

In [54]:
rental_df = rental_df[['Province','Year','Total ']]

provinces = ['Nfld.Lab.' ,'N.S.', 'N.B.', 'Que' ,'Ont.', 'Man.', 'Sask.' ,'Alta' ,'B.C.']

rental_df = rental_df[(rental_df['Province'].isin(provinces))]

rental_df = pd.pivot_table(rental_df, index='Year', columns='Province', values='Total ', aggfunc='mean', fill_value=0).reset_index()

rental_df.columns = ["Year",'Nfld.Lab.' ,'N.S.' ,'N.B.' ,'Que' ,'Ont.' ,'Man.', 'Sask.', 'Alta' ,'B.C.']

rental_df.head()

,Year,Nfld.Lab.,N.S.,N.B.,Que,Ont.,Man.,Sask.,Alta,B.C.
0,2018,1119.910256,1333.500000,1038.289474,763.636364,1109.218750,846.200000,1161.093583,753.868020,1035.926829
1,2019,1145.673077,1393.448598,1091.146341,801.590909,1139.181818,861.166667,1220.471850,807.601990,1043.400000
2,2020,1154.246753,1432.926606,1126.743590,861.476190,1218.310345,875.833333,1280.516575,847.358586,1062.500000
3,2021,1171.269737,1490.254545,1185.731707,939.750000,1242.730769,891.166667,1330.428161,870.021164,1087.512821
4,2022,1226.423841,1655.522936,1198.166667,1027.380952,1306.576923,939.000000,1438.457227,933.448864,1148.658537